<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title> OFFICIAL </title>
  <style> #banner { height: 400px; width: 100%; object-fit: cover 
          </style>
  </head>
  
<body>
  <div class= "container">
    <h1 class= "fs-3 text-center mt-4 mb-3" id= "h1"> HI, Welcome to OFFICIAL </h1>
    <img class= "img-fluid" id= "banner" src = https://newfirstwebsite--odabipraise.repl.co/static/pic1.jpg >

    <h2 class= "fs-4 text-center mt-4 mb-2"> All About Us! </h2>
    <p style="text-align:justify" class= "lead"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  </div>
   
   <div class= text-center> <button type= "button" class= "btn btn-primary btn-lg mt-5"> CONTACT ME! </button></div> 
  
</body>
</html>